{% extends 'layout.html' %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}

    <h3>Kayıt Olun</h3>

    <hr>

    <form method="post">
        {{ render_field(form.name, class ="form-control", value="tuğçe") }}
        {{ render_field(form.username , class = "form-control", value="tugce_user") }}
        {{ render_field(form.email, class = "form-control", value="tugce@mail.com") }}
        {{ render_field(form.password, class = "form-control", required=false) }}
        {{ render_field(form.confirm, class = "form-control", required=false) }}

        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>
{% endblock  %}